/** Navbar/Header **/

body
{
    margin: 0;
    font-family: 'Roboto';
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: #E5E7Eb
}


.header-logo
{
    font-size: 24px;
    padding-left: 96px;
    color: #F9FAf8;
}
.nav-bar
{
    display: flex;
    background-color: #1f2937;
    align-items: center;
}

.nav-links
{
    display: flex;
    font-size: 18px;
    margin-left: auto;
    padding-right: 48px;
    gap: 12px;
}

/** Sec 1 **/

.sec-one
{
    padding-top: 24px;
    padding-bottom: 96px;
    background-color: #1f2937;
    display: flex;
}

.left-side
{
    padding-left: 96px;
    margin-right: auto;
}

.title
{
    color: #F9FAf8;
    font-size: 48px;
    font-weight: 1200;
}

.subtext
{
    display: flex;
    color: #E5E7Eb;
    max-width: 400px;
    flex-wrap: wrap;
}

.sec-one-img
{
    width: 450px;
    height: auto;
    padding-right: 96px;
}

.sign-up
{
    background-color: #3882f6;
    color: #F9FAf8;
    padding: 12px 18px 12px 18px;
    border: 0;
    border-radius: 12px;
}

/** Section Two **/

.sec-two
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-two-imgs
{
    display: flex;
    gap: 80px;
    text-align: center;

}

.sec-two-img-container
{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    flex-wrap: wrap;
}

.sec-two-title
{
    color: #1f2937;
    font-weight:bolder;
    font-size: 36px;
    font-family: 'Roboto';
    padding-top: 50px;
    padding-bottom: 50px;
}

.sec-two-img
{
    width: 200px;
    height: 200px;
    padding-right: 96px;
    margin: 0;
    padding: 0;
    border: 1px solid #3882f6;
    border-radius: 12px;
}

.subtext-2
{
    font-size: 18px;
    color: #1f2937
}

/** Section Two **/
.sec-three
{
    background-color: rgb(229,231,235);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px;
}

.quote
{
    font: 'Roboto';
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;   
    display: flex;
    width: 900px;
    flex-wrap: wrap;
}

.attr
{
    font: 'Roboto';
    font-size: 16px;
    margin-left: auto;
    padding-right: 250px;
    font-weight: bolder;
}


